body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #ad2f9e, #f39c12); /* Degradado de fondo */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #ffffff; /* Texto blanco para el cuerpo */
}

h1 {
  color: #ffffff; /* Blanco puro */
  margin-bottom: 20px;
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra del texto */
}

p {
  color: #ffffff; /* Blanco puro */
  margin-bottom: 10px;
  font-size: 1.25rem;
}

hr {
  width: 80%;
  margin: 20px 0;
  border: 1px solid #ffffff; /* Blanco puro */
  opacity: 0.7; /* Sombra sutil */
}

.label-select {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #ffffff; /* Blanco puro */
  font-size: 1rem;
}

select {
  width: 250px;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid transparent; /* Borde transparente para el fondo degradado */
  border-radius: 8px;
  background: linear-gradient(135deg, #d49d51, #dd8e4d); /* Degradado de fondo en el select */
  color: #ffffff; /* Texto blanco dentro del select */
  font-size: 1rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

select:focus {
  border-color: #ffffff; /* Borde blanco cuando está en foco */
  outline: none;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5); /* Sombra blanca en el enfoque */
}

select option {
  padding: 10px;
  background-color: #ffffff; /* Fondo blanco para opciones */
  color: #2c3e50; /* Color del texto en opciones */
}

/* Efecto hover para el select */
select:hover {
  border-color: #ffffff; /* Borde blanco en hover */
}

/* Agrega esto a tu archivo de estilos CSS */
.ciudad-card {
  border: 6px solid #f39c12;
  border-radius: 8px;
  padding: 16px;
  margin-top: 16px;
  background: linear-gradient(135deg, #ca35b9, #f39c12);
}

.ciudad-card h2 {
  margin-top: 0;
}

.ciudad-card p {
  margin: 8px 0;
}

.ciudad-card strong {
  display: inline-block;
  width: 150px;
}

