body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #ad2f9e, #f39c12); /* Background gradient */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #ffffff; /* White text for the body */
}

h1 {
  color: #ffffff; /* Pure white */
  margin-bottom: 20px;
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow */
}

p {
  color: #ffffff; /* Pure white */
  margin-bottom: 10px;
  font-size: 1.25rem;
}

hr {
  width: 80%;
  margin: 20px 0;
  border: 1px solid #ffffff; /* Pure white */
  opacity: 0.7; /* Subtle shadow */
}

.label-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff; /* White text for labels */
  margin-bottom: 8px;
}

.selection-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns labels and selects to the left */
  margin-bottom: 20px; /* Space between selection containers */
}

select {
  width: 250px;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid transparent; /* Transparent border for gradient background */
  border-radius: 8px;
  background: linear-gradient(135deg, #d49d51, #dd8e4d); /* Gradient background for select */
  color: #ffffff; /* White text inside the select */
  font-size: 1rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

select:focus {
  border-color: #ffffff; /* White border on focus */
  outline: none;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5); /* White shadow on focus */
}

select option {
  padding: 10px;
  background-color: #ffffff; /* White background for options */
  color: #2c3e50; /* Text color in options */
}

select:hover {
  border-color: #ffffff; /* White border on hover */
}

.ciudad-card {
  border: 6px solid #f39c12;
  border-radius: 8px;
  padding: 16px;
  margin-top: 16px;
  background: linear-gradient(135deg, #ca35b9, #f39c12);
}

.ciudad-card h2 {
  margin-top: 0;
}

.ciudad-card p {
  margin: 8px 0;
}

.ciudad-card strong {
  display: inline-block;
  width: 150px;
}
